@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Space Mono', monospace;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  @apply h-1 w-1;
}

body::-webkit-scrollbar {
  @apply h-1 w-0;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e400;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #898989;
  border-radius: 100px;
}

body {
  width: 100%;
  background: #0b0c1a;
}

/* body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: url("../../public/images/bg_glowing.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.admin-page * {
  font-family: 'Space Mono', monospace;
}

.pulsating-circle {
  position: relative;
  margin-top: -2px;
  width: 10px;
  height: 10px;
}

.pulsating-circle:before {
  content: '';
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 45px;
  background-color: #01a4e9;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsating-circle:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #00ff66;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.banner::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to right, #8007b9 0%, rgba(255, 123, 202, 0) 100%);
}

.claim-heading::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to right, #8007b9 0%, rgba(255, 123, 202, 0) 100%);
  bottom: 0;
}

.prizes-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 5%;
  background: linear-gradient(270deg, #0d0b16 11.88%, rgba(13, 11, 22, 0) 81.88%);
}

.swiper-slide {
  width: fit-content !important;
}

.load-circle {
  border-width: 3px;
  border-color: rgba(0, 255, 102, 0.2);
  border-top-color: #00ff66;
  border-style: solid;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

header * {
  @apply font-aber-mono;
}

.container {
  padding: 0 10px;
}

@media screen and (max-width: 480px) {
  .roller {
    scale: 0.6;
  }
  .lootbox {
    scale: 0.8;
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backdrop {
  background: linear-gradient(244.52deg, rgba(52, 55, 81, 0.8) 1.25%, rgba(255, 181, 70, 0.4) 100%);
  backdrop-filter: blur(25px);
}